@model IEnumerable<FoodHub.Models.FoodItem>

@{
    ViewData["Title"] = "Our Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3">@ViewData["Title"]</h1>

@if (TempData["SignInError"] != null)
{
    <div class="alert-danger">@TempData["SignInError"]</div>
}
<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("FoodItem",item)
    }
</div>