@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center text-center">

    <img style="max-width: 400px;" src="~/images/hamburger-bro.png" width="100%" />
    
    <h1 class="display-5 fw-bold mt-2">Order your food the fast way</h1>
    <p class="muted mb-4 w-75 lh-sm">Check out plethora of food items provided by millions of restaurants of various categories</p>
    
    <button class="btn btn-primary px-5">Order now</button>

</div>
