@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center my-4 text-center">
    <img style="max-width: 400px;" src="~/images/hamburger-bro.png" width="100%" />
    <h1 class="display-5 fw-bold mt-2">Order food the fast way</h1>
    <p class="muted mb-4">Check out plethora of food items provided by millions of restaurants of various categories</p>
    <button class="btn btn-lg btn-primary px-3 px-md-5">Order now</button>
</div>
