@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    img {
        max-width: 500px;
    }
</style>

<div class="row flex-column-reverse flex-md-row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Login to the system</h2>
                <p class="text-dark lh-1">Sign in to explore various meals and restaurants with lots of categories</p>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label-checkbox">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.IsAdmin" class="form-label-checkbox">
                            <input class="form-check-input" asp-for="Input.IsAdmin" />
                            @Html.DisplayNameFor(m => m.Input.IsAdmin)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-primary mt-3">Log in</button>
                </div>
                <div>
                    <p class="mt-2">
                        <a class="btn-link" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a class="btn-link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a class="btn-link" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6 col-md-offset-2">
        <img class="overflow-hidden rounded-3" src="~/images/order-food-bro.png" width="100%" style="object-fit: cover" />
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
