@model FoodHub.ViewModels.FoodItemCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Food Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="foodItem.FoodItemName" class="control-label"></label>
                <input asp-for="foodItem.FoodItemName" class="form-control" />
                <span asp-validation-for="foodItem.FoodItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="foodItem.Price" class="control-label"></label>
                <input asp-for="foodItem.Price" class="form-control" />
                <span asp-validation-for="foodItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="foodItem.Restaurant.RestaurantName" class="control-label"></label>
                <select asp-for="foodItem.RestaurantId" class ="form-control" asp-items="@(new SelectList(Model.restaurants, "RestaurantId", "RestaurantName"))" required>
                    <option value="" disabled>Choose Restaurant</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary px-5" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-link" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
