:root {
    --bg-orange: #FE8528;
}

header {
    background-color : white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
}
h1, h2, h3, h4, h5, h6, p, td, th {
    color: var(--bg-orange);
}
dt ,dd{
    color:#fff;
}
label {
    color : darkorange;
}
.btn-outline-dark , li{
    background-color :white;
}

html {
    font-size: 16px;
    position: relative;
}

body {
    margin-bottom: 60px;
    font-family: 'Albert Sans', sans-serif;
}

.form-floating, 
.form-control {
    margin-bottom: 12px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus-within,
.btn-primary:active,
.nav-pills .nav-link.active,
.form-check-input:checked {
    background: var(--bg-orange);
    border-color: var(--bg-orange);
    color: #222
}

.nav-pills .nav-link {
    color: #222;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-link,
.btn-link:hover {
    --bg-orange: #DD6B13;
}

    .btn-link,
    .btn-link:hover {
        color: var(--bg-orange);
        text-decoration: none;
    }