:root {
    --bg-orange: #FF9E00;
}

html {
    font-size: 16px;
    position: relative;
}

body {
    margin-bottom: 60px;
    font-family: 'Albert Sans', sans-serif;
}

.form-floating {
    margin-bottom: 12px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus-within,
.btn-primary:active,
.nav-pills .nav-link.active,
.form-check-input:checked {
    background: var(--bg-orange);
    border-color: var(--bg-orange);
    color: #222
}

.nav-pills .nav-link {
    color: #222;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-link,
.btn-link:hover {
    --bg-orange: #DB8800;
}

    .btn-link,
    .btn-link:hover {
        color: var(--bg-orange);
        text-decoration: none;
    }